<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="InsuranceAutomationSuite">
    <test name="InsuranceTests">
        <classes>
            <class name="tests.TravelInsuranceTest"/>
            <class name="tests.CommercialInsuranceTest"/>
            <class name="tests.HealthInsuranceTest"/>
        </classes>
    </test>
</suite>